@page "/"

@inject HttpClient Http
<PageTitle>Blazing Trails</PageTitle>

@if (_trails is null)
{
    <p>Trails are loading</p>
}
else
{
    <TrailDetails Trail="SelectedTrail" />
    <TrailSearch />
    <div class="grid">
        @foreach (var trail in _trails)
        {
            <TrailCard Trail="trail" OnSelected="HandleTrailSelected" />
        }
    </div>
}

@code {
   
    private Trail? SelectedTrail { get; set; }
    private IEnumerable<Trail>? _trails;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _trails = await Http.GetFromJsonAsync<IEnumerable<Trail>>("trails/trails.json");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"There was a problem loading trail data: {ex.Message}");
        }
    }

    private void HandleTrailSelected(Trail trail)
    {
        SelectedTrail = trail;
    }
}